<%= form_with(model: [@food, @order], url: food_orders_path, class: 'bg-white p-6 rounded-lg shadow-md') do |form| %>
  <div class="mb-4">
    <%= form.label :quantity, class: 'block text-gray-700 font-medium mb-2' %>
    <%= form.text_field :quantity, class: 'form-input py-2 px-3 text-gray-700 rounded-md' %>
  </div>
  <div class="text-center">
    <%= form.submit 'Submit',  class:"bg-amber-400 px-4 cursor-pointer rounded cursor font-bold" %>
  </div>
<% end %>