<h1>Order Food</h1>

<%= form_with model: @order, url: orders_path, method: :post do |form| %>
  <% @foods.each do |food| %>
    <%= check_box_tag "order[food_ids][]", food.id %>
    <%= label_tag "order[food_ids][]", food.name %>
  <% end %>
  <%= submit_tag "Place order" %>
<% end %>
