<h1>Order Food</h1>

<%= form_tag '/orders/create' do %>
  <label for="item">Select a food item:</label><br>
  <%= select_tag 'item', options_from_collection_for_select(@food_items, :id, :name) %><br>
  <%= submit_tag 'Make your Order' %>
<% end %>